@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
}

.conteiner {
  height: 100%;
  width: 100%;
  display: flex;
}

.perfil {
  height: 100%;
  width: 25%;
  border-right: 0, 1px solid black;
  box-shadow: 0.1px 0px 9px rgb(80, 8, 8);
  background: linear-gradient(30deg, #65ffcc, #ffff, #02f1fe7a);
}

.fotoUser {
  height: 30%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
}

.UserPic {
  height: 70%;
  margin-top: 25px;
  border-radius: 100%;
  border: 2px solid aqua;
  background-image: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.nameTec {
  height: 70%;
  text-align: center;
}

.nameTec h1,
p {
  margin-bottom: 10px;
}

.links {
  height: 80px;
  margin-top: 85px;
  display: flex;
  align-items: center;
}

.links ul {
  height: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.links li {
  list-style: none;
  padding: 0 10px;
  margin: 0 20px;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.links li a {
  height: 100%;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
}
.linkImg {
  height: 50%;
  background-image: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.tecnologias {
  height: 100%;
  width: 75%;
  background-color: aquamarine;
}

.projetos {
  height: 30%;
  background-color: azure;
  margin: 20px ;
  border-radius: 15px;
}

.projetos h3 {
  padding: 5px;
}